
#aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    border-radius: 10px;
    padding: 3px;
    border: 3px solid #6C6F7C;
    vertical-align: middle;
    background-image: url("./wm3_bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

#backgroundContainer {
    background: #FFFFFF;
    background: -webkit-radial-gradient(center, #FFFFFF, #D5E2E4);
    background: -moz-radial-gradient(center, #FFFFFF, #D5E2E4);
    background: radial-gradient(ellipse at center, #FFFFFF, #D5E2E4);
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
}

#photoContainer {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

#bioContainer {
    min-width: 400px;
}

#contactContainer {
    text-align: center;
    width: 100%;
}

#contactContainer button {
    font-size: 2em;
    padding: 1px;
    background: none;
    border: none;
}

#contactContainer button:hover {
    color: rgb(71, 154, 221);
}

#profilePhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #6C6F7C;
}

@media only screen and (max-device-width: 480px) {
    #bioContainer {
        text-align: center;
        margin: 0px auto;
    }
    #photoContainer {
        margin: 0px auto;
    }
}