#innerBackgroundContainer {
    
    max-width: 700px;
    text-align: left;
    border-radius: 10px;
    padding: 3px;
    padding-left: 30px;
    border: 3px solid #6C6F7C;
    vertical-align: middle;
    background-image: url("./wm3_bg.png");
    background-position: center;
    background-repeat: no-repeat;
}
.experienceContainer {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
.ability-score {
    float: right;

}
/* 
.ability-title {
display:block;
  width:200px;
  word-wrap:break-word;
} 
*/


.ability-filled {color: #326FBA;}
.ability-unfilled {color: #CACACA;}
.abilityLine {vertical-align: center;}

.abilityLinesContainer:hover {
	background: #D5E2E4;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.abilityLine:hover {
	font-size: 1.05em;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#backgroundContainer {
    background: #FFFFFF;
    background: -webkit-radial-gradient(center, #FFFFFF, #D5E2E4);
    background: -moz-radial-gradient(center, #FFFFFF, #D5E2E4);
    background: radial-gradient(ellipse at center, #FFFFFF, #D5E2E4);
    max-width: 700px;
    margin: 10px auto;
    border-radius: 10px;
}

.break-row {
    flex-basis: 100%;
    height: 0;
}

.abilityNameContainer {
    /* border: 1px solid green; */
    /* flex-grow: 1; */
    margin-left: -1.5%;
}

.abilityLinesContainer {
    /* border: 1px solid red; */
    /* flex-grow: 3; */
    width: 310px;
    padding-right: 2%;
    flex-wrap: nowrap;
    
}


