html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #163a58 100%);
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#currentPage {
  text-align: center;
}

#title {
  color: #FFF;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 10px;
  padding-left: 10px;
}
#mainTitle {
  background: -webkit-linear-gradient(white, #73879e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#title hr {
  width: 275px;
  color: #73879e;
}
#subTitle, #subTitle div {
  background: -webkit-linear-gradient(white, #73879e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin: 5px auto;
  padding: 5px auto;
}

